.component-group {
  position: relative;
  &:hover .selector {
    opacity: 1;
    transition: opacity 0.3s;
  }
}
.selector {
  position: absolute;
  top: -3rem;
  right: 0rem;
  opacity: 0.1;
  transition: opacity 0.3s;
  button {
    &.active {
      background: var(--color-primary);
      color: white;
    }
  }
}
