:root {
  --color: #162c40;
  --color-primary: #0060ff;
  --color-secondary: #2c5282;
  --color-tertiary: #8898aa;
  --color-inverse: #ffffff;
  --bg: #ffffff;
  --bg-secondary: #f3f5f4;
  --border: #ddd;
  --code: #f1e7d0;
  --code-color: #162c40;
  --pre: #263238;
  --pre-color: #f3f5f4;
  --admin-bg: #ffffff;
}
