:root {
  --color: #162c40;
  --color-primary: #0060ff;
  --color-secondary: #0050d3;
  --color-tertiary: #8c8c8c;
  --color-inverse: white;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --code: #f1e7d0;
  --code-color: #162c40;
  --pre: #263238;
  --pre-color: #f3f5f4;
}
